{{#items}}
<div class="row market-item border rounded bg-light">
	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
		<img src="{{abstract-icon}}" class="img-fluid">
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
		<h5>{{abstract-name}}</h5>
		<h6>{{abstract-type}}</h6>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
		Mise actuelle : {{currentPrice}}
		<br /> Achat immédiat : {{buyNowPrice}}
		<br /> Enchères : {{data-bids}}
		<br />
	</div>
	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 z-score">
		{{zscore-currentPrice}}
		<br /> {{zscore-buyNowPrice}}
		<br /> {{zscore-data-bids}}
		<br />
	</div>
</div>
{{/items}}