{{#items}}
<div class="row market-item border rounded bg-light" colour="{{data-wearableitemid}}">
	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6">
		<img src="{{abstract-icon}}" class="img-fluid rounded">
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-6 abstract">
		<span class="align-middle">
			<h5 class="abstract-name btn-link text-dark">{{abstract-name}}</h5>
			<h6 class="abstract-type">{{abstract-type}}</h6>
		</span>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-8">
		<div class="currentPrice">Mise actuelle : {{currentPrice}}</div>
		<div class="buyNowPrice">Achat immédiat : {{buyNowPrice}}</div>
		<div class="data-bids">Enchères : {{data-bids}}</div>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4 z-score">
		<div class="zscore-currentPrice">{{zscore-currentPrice}}</div>
		<div class="zscore-buyNowPrice">{{zscore-buyNowPrice}}</div>
		<div class="zscore-data-bids">{{zscore-data-bids}}</div>
	</div>
</div>
{{/items}}